<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration</title>
  </head>
  <body>
    <h1>Registration page</h1>
    <form name="registerForm" action="@{/register}" method="POST">
      <div>
        <label for="username">User:</label>
        <input type="text" name="username" value="" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <label for="confirm">Confirm password:</label>
        <input type="password" name="confirm" />
      </div>
      <input name="submit" type="submit" value="submit" />
    </form>
  </body>
</html>
